<!DOCTYPE html>
<html>
    <head>
        <title>Hakkında</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>Hakkında</h1>
        <p>Bu site Node.js ve Express kullanılarak oluşturulmuştur.</p>
        </div>
        {{>footer}}
    </body>
</html>