<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
    </head>
    <div class="main-content">
    <body>
    <ul>
        <li><a href="http://localhost:3000/">Ana Sayfa</a></li>
        <li><a href="http://localhost:3000/help">Hakkında</a></li>
        <li><a href="http://localhost:3000/about">Hava Durumu</a></li>
        <li><a href="http://localhost:3000/weather">Yardım</a></li>
    </ul>
    <h5>404 Not Found</h1>
    </body>
    </div>
    {{>footer}}
</html>
