<!DOCTYPE html>
<html>
    <head>
        <title>Yardım</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>Yardım</h1>
        <p>Yardım sayfasına hoş geldiniz. Size nasıl yardımcı olabiliriz?</p>
        </div>
        {{>footer}}
    </body>
</html>