<!DOCTYPE html>
<html>
    <head>
        <title>Hava Durumu</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <h1>Hava Durumu</h1>
        <p>Hava durumu bilgisi için bir konum girin.</p>
        <form>
            <input placeholder="Konum">
            <button>Ara</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        </div>
        {{>footer}}
    </body>
</html>